@model GalleryApplication.ViewModels.UpdateUserViewModel

@{
    ViewBag.Title = "Update user";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>Profile editing</h2>
</div>
<div style="justify-content: center; align-items: center; display: flex;">
    <div class="card col-4">
        <div class="card-body">
            <form asp-controller="Users" asp-action="UpdateUser" asp-area="" style="" autocomplete="off" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName">First name</label>
                    <input type="text" class="form-control" asp-for="FirstName" value="@Model.FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last name</label>
                    <input type="text" class="form-control" asp-for="LastName" value="@Model.LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country">Select country</label>
                    <select class="form-control" asp-for="Country" asp-items="ViewBag.Countries">
                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="male">
                        <label class="form-check-label" asp-for="Gender">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" asp-for="Gender" value="female">
                        <label class="form-check-label" asp-for="Gender">Female</label>
                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth">Date of birth</label>
                    <input class="form-control" type="date" value="@Model.DateOfBirth" asp-for="DateOfBirth">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Image">Select main photo of your profile:</label>
                    <input type="file" class="form-control-file" asp-for="@Model.Image" accept="image/*" name="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success" style="width: 100%">Edit</button>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
