@model GalleryApplication.ViewModels.AddPostViewModel

@{
    ViewBag.Title = "Post adding";
    Layout = "_Layout";
}

<h2>Post adding</h2>
<div class="card col-4">
    <div class="card-body">
        <form asp-controller="Posts" asp-action="AddPost" method="post" autocomplete="off" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Description">Description:</label>
                <textarea class="form-control" asp-for="@Model.Description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="@Model.File">Select photo:</label>
                <input type="file" class="form-control-file" asp-for="@Model.File" accept="" name="file">
                @if (Model.Error != string.Empty)
                {
                    <small class="text-danger">@Model.Error</small>
                }
            </div>
            <button type="submit" class="btn btn-success">Add post</button>
        </form>
    </div>
</div>
